
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.H2_price{
     font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

@media(max-width:1200px){
    .H2_price{
        font-size: 18px;
    }
  }

  @media(max-width:630px){
    .H2_price{
        font-size: 33px;
    }
  }